# ----------------------------------------
# R
# ----------------------------------------
r-base
# r-stats # included in base

# ----------------------------------------
# N-SDM -  to be updated
# ----------------------------------------
# r-base=4.0.5
# load via SLURM module system
# gcc=9.3.0
# proj=5.2.0
# perl=5.32.1
# curl=7.76.1
# geos=3.8.1
# gdal=2.4.4

# available via euler module system
# https://scicomp.ethz.ch/wiki/Euler_applications_and_libraries

# ----------------------------------------
# LULCC-CH
# ----------------------------------------

# Dinamica EGO
# https://dinamicaego.com/dinamica-7/

# https://dinamicaego.com/dinamica/dokuwiki/lib/exe/fetch.php?media=dinamica_1.0.4.tar.gz
# R-packages - CRAN/conda-forge
# r-data.table
# r-raster
# r-tidyverse
# r-plyr
# r-readr
# r-sjmisc
# r-terra
# r-rgdal
# r-rgeos
# r-future.apply
# r-future
# r-future.callr
# r-stringr
# r-stringi
# r-readxl
# r-rlist
# r-rstatix
# r-openxlsx
# r-sp
# r-xlsx
# r-callr
# r-gdata
# r-randomForest
# r-caret

# Not all are available in conda-forge (commented out)
# https://stackoverflow.com/questions/34705917/how-to-install-r-packages-that-are-not-available-in-r-essentials

# r-dinamica=1.0.4 # from https://dinamicaego.com/dinamica/dokuwiki/doku.php?id=external_communication
# r-zen4R https://cran.r-project.org/web/packages/zen4R/vignettes/zen4R.html#install_guide
# r-grid   # R-base

# ----------------------------------------
# Documentation
# ----------------------------------------
quarto
