data.table
raster
curl
openssl
httr
ragg
rvest
xml2
googledrive
googlesheets4
tidyverse
plyr
readr
sjmisc
terra
geos
future.apply
future
future.callr
stringr
stringi
readxl
rlist
rstatix
openxlsx
sp
xlsx
callr
gdata
randomForest
caret
